src/xsd/EndDeviceControls.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 rel. 2 (x64) (http://www.altova.com) by Robert Ward (Ward Software Architects) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a="http://langdale.com.au/2005/Message#" xmlns:msg="http://iec.ch/TC57/2011/schema/message" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns="http://langdale.com.au/2005/Message#" xmlns:m="http://iec.ch/TC57/2011/EndDeviceControls#" targetNamespace="http://iec.ch/TC57/2011/EndDeviceControls#" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:annotation/>
  <xs:import namespace="http://iec.ch/TC57/2011/schema/message" schemaLocation="Message.xsd"/>
  <xs:element name="EndDeviceControls" type="m:EndDeviceControls"/>
  <xs:complexType name="EndDeviceControls">
    <xs:sequence>
      <xs:element name="EndDeviceControl" type="m:EndDeviceControl" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="EndDeviceControlType" type="m:EndDeviceControlType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ControlledAppliance" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ControlledAppliance">
    <xs:annotation>
      <xs:documentation>Appliance controlled with a PAN device control.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="isElectricVehicle" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ControlledAppliance.isElectricVehicle">
        <xs:annotation>
          <xs:documentation>True if the appliance is an electric vehicle.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isExteriorLighting" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ControlledAppliance.isExteriorLighting">
        <xs:annotation>
          <xs:documentation>True if the appliance is exterior lighting.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isGenerationSystem" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ControlledAppliance.isGenerationSystem">
        <xs:annotation>
          <xs:documentation>True if the appliance is a generation system.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isHvacCompressorOrFurnace" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ControlledAppliance.isHvacCompressorOrFurnace">
        <xs:annotation>
          <xs:documentation>True if the appliance is HVAC compressor or furnace.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isInteriorLighting" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ControlledAppliance.isInteriorLighting">
        <xs:annotation>
          <xs:documentation>True if the appliance is interior lighting.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isIrrigationPump" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ControlledAppliance.isIrrigationPump">
        <xs:annotation>
          <xs:documentation>True if the appliance is an irrigation pump.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isManagedCommercialIndustrialLoad" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ControlledAppliance.isManagedCommercialIndustrialLoad">
        <xs:annotation>
          <xs:documentation>True if the appliance is managed commercial or industrial load.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isPoolPumpSpaJacuzzi" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ControlledAppliance.isPoolPumpSpaJacuzzi">
        <xs:annotation>
          <xs:documentation>True if the appliance is a pool, pump, spa or jacuzzi.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isSimpleMiscLoad" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ControlledAppliance.isSimpleMiscLoad">
        <xs:annotation>
          <xs:documentation>True if the appliance is a simple miscellaneous load.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isSmartAppliance" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ControlledAppliance.isSmartAppliance">
        <xs:annotation>
          <xs:documentation>True if the appliance is a smart appliance.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isStripAndBaseboardHeater" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ControlledAppliance.isStripAndBaseboardHeater">
        <xs:annotation>
          <xs:documentation>True if the appliance is a stip or baseboard heater.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isWaterHeater" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ControlledAppliance.isWaterHeater">
        <xs:annotation>
          <xs:documentation>True if the appliance is a water heater.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Customer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Customer">
    <xs:annotation>
      <xs:documentation>Organisation receiving services from service supplier.</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateTimeInterval">
    <xs:annotation>
      <xs:documentation>Interval of date and time.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="end" type="xs:dateTime" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateTimeInterval.end">
        <xs:annotation>
          <xs:documentation>End date and time of this interval.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="start" type="xs:dateTime" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateTimeInterval.start">
        <xs:annotation>
          <xs:documentation>Start date and time of this interval.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElectronicAddress" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ElectronicAddress">
    <xs:annotation>
      <xs:documentation>Electronic address information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="email1" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ElectronicAddress.email1">
        <xs:annotation>
          <xs:documentation>Primary email address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="email2" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ElectronicAddress.email2">
        <xs:annotation>
          <xs:documentation>Alternate email address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lan" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ElectronicAddress.lan">
        <xs:annotation>
          <xs:documentation>Address on local area network.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mac" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ElectronicAddress.mac">
        <xs:annotation>
          <xs:documentation>MAC (Media Access Control) address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="password" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ElectronicAddress.password">
        <xs:annotation>
          <xs:documentation>Password needed to log in.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="radio" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ElectronicAddress.radio">
        <xs:annotation>
          <xs:documentation>Radio address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="userID" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ElectronicAddress.userID">
        <xs:annotation>
          <xs:documentation>User ID needed to log in, which can be for an individual person, an organisation, a location, etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="web" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ElectronicAddress.web">
        <xs:annotation>
          <xs:documentation>World wide web address.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EndDevice" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDevice">
    <xs:annotation>
      <xs:documentation>Asset container that performs one or more end device functions. One type of end device is a meter which can perform metering, load management, connect/disconnect, accounting functions, etc. Some end devices, such as ones monitoring and controlling air conditioner, refrigerator, pool pumps may be connected to a meter. All end devices may have communication capability defined by the associated communication function(s). An end device may be owned by a consumer, a service provider, utility or otherwise.</xs:documentation>
      <xs:documentation>There may be a related end device function that identifies a sensor or control point within a metering application or communications systems (e.g., water, gas, electricity).</xs:documentation>
      <xs:documentation>Some devices may use an optical port that conforms to the ANSI C12.18 standard for communications.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mRID" type="msg:UUIDType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
          <xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
          <xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="installCode" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDevice.installCode">
        <xs:annotation>
          <xs:documentation>Installation code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isPan" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDevice.isPan">
        <xs:annotation>
          <xs:documentation>If true, this is a premise area network (PAN) device.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="electronicAddress" type="m:ElectronicAddress" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Asset.electronicAddress">
        <xs:annotation>
          <xs:documentation>Electronic address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
        <xs:annotation>
          <xs:documentation>All names of this identified object.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EndDeviceAction" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceAction">
    <xs:annotation>
      <xs:documentation>Action/command performed by an end device on a device other than the end device.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="command" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceAction.command">
        <xs:annotation>
          <xs:documentation>Command text.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="duration" type="m:Minutes" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceAction.duration">
        <xs:annotation>
          <xs:documentation>Amount of time the action of this control is to remain active.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="durationIndefinite" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceAction.durationIndefinite">
        <xs:annotation>
          <xs:documentation>True if the action of this control is indefinite.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="startDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceAction.startDateTime">
        <xs:annotation>
          <xs:documentation>Start date and time for action of this control.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EndDeviceControl" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControl">
    <xs:annotation>
      <xs:documentation>Instructs an end device (or an end device group) to perform a specified action.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mRID" type="msg:UUIDType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
          <xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
          <xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="drProgramLevel" type="xs:integer" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControl.drProgramLevel">
        <xs:annotation>
          <xs:documentation>Level of a demand response program request, where 0=emergency. Note: Attribute is not defined on DemandResponseProgram as it is not its inherent property (it serves to control it).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="drProgramMandatory" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControl.drProgramMandatory">
        <xs:annotation>
          <xs:documentation>Whether a demand response program request is mandatory. Note: Attribute is not defined on DemandResponseProgram as it is not its inherent property (it serves to control it).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="issuerID" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControl.issuerID">
        <xs:annotation>
          <xs:documentation>Unique identifier of the business entity originating an end device control.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="issuerTrackingID" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControl.issuerTrackingID">
        <xs:annotation>
          <xs:documentation>Identifier assigned by the initiator (e.g. retail electric provider) of an end device control action to uniquely identify the demand response event, text message, or other subject of the control action. Can be used when cancelling an event or text message request or to identify the originating event or text message in a consequential end device event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priceSignal" type="m:FloatQuantity" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControl.priceSignal">
        <xs:annotation>
          <xs:documentation>(if applicable) Price signal used as parameter for this end device control.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reason" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControl.reason">
        <xs:annotation>
          <xs:documentation>Reason for the control action that allows to determine how to continue processing. For example, disconnect meter command may require different processing by the receiving system if it has been issued for a network-related reason (protection) or for payment-related reason.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControl.EndDeviceAction">
        <xs:annotation>
          <xs:documentation>End device action issued by this end device control.</xs:documentation>
        </xs:annotation>
        <xs:element name="PanDemandResponse" type="m:PanDemandResponse" minOccurs="1" maxOccurs="1" sawsdl:modelReference="">
          <xs:annotation/>
        </xs:element>
        <xs:element name="PanDisplay" type="m:PanDisplay" minOccurs="1" maxOccurs="1" sawsdl:modelReference="">
          <xs:annotation/>
        </xs:element>
        <xs:element name="PanPricing" type="m:PanPricing" minOccurs="1" maxOccurs="1" sawsdl:modelReference="">
          <xs:annotation/>
        </xs:element>
      </xs:choice>
      <xs:element name="EndDeviceControlType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControl.EndDeviceControlType">
        <xs:annotation>
          <xs:documentation>Type of this end device control.</xs:documentation>
        </xs:annotation>
        <xs:complexType sawsdl:modelReference="">
          <xs:attribute name="ref" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="EndDeviceGroups" type="m:EndDeviceGroup" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControl.EndDeviceGroups">
        <xs:annotation>
          <xs:documentation>All end device groups receiving commands from this end device control.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndDevices" type="m:EndDevice" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControl.EndDevices">
        <xs:annotation>
          <xs:documentation>All end devices receiving commands from this end device control.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="primaryDeviceTiming" type="m:EndDeviceTiming" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControl.primaryDeviceTiming">
        <xs:annotation>
          <xs:documentation>Timing for the control actions performed on the device identified in the end device control.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="secondaryDeviceTiming" type="m:EndDeviceTiming" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControl.secondaryDeviceTiming">
        <xs:annotation>
          <xs:documentation>Timing for the control actions performed by devices that are responding to event related information sent to the primary device indicated in the end device control.  For example, load control actions performed by a PAN device in response to demand response event information sent to a PAN gateway server.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UsagePointGroups" type="m:UsagePointGroup" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControl.UsagePointGroups">
        <xs:annotation>
          <xs:documentation>All usage point groups receiving commands from this end device control.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UsagePoints" type="m:UsagePoint" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControl.UsagePoints">
        <xs:annotation>
          <xs:documentation>All usage points receiving commands from this end device control.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EndDeviceControlType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControlType">
    <xs:annotation>
      <xs:documentation>Detailed description for a control produced by an end device. Values in attributes allow for creation of recommended codes to be used for identifying end device controls as follows: &amp;lt;type&amp;gt;.&amp;lt;domain&amp;gt;.&amp;lt;subDomain&amp;gt;.&amp;lt;eventOrAction&amp;gt;.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mRID" type="msg:UUIDType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
          <xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
          <xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="domain" type="xs:string" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControlType.domain">
        <xs:annotation>
          <xs:documentation>High-level nature of the control.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="eventOrAction" type="xs:string" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControlType.eventOrAction">
        <xs:annotation>
          <xs:documentation>The most specific part of this control type. It is mainly in the form of a verb that gives action to the control that just occurred.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subDomain" type="xs:string" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControlType.subDomain">
        <xs:annotation>
          <xs:documentation>More specific nature of the control, as a further sub-categorisation of 'domain'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="xs:string" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceControlType.type">
        <xs:annotation>
          <xs:documentation>Type of physical device from which the control was created. A value of zero (0) can be used when the source is unknown.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Names" type="m:Name" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
        <xs:annotation>
          <xs:documentation>All names of this identified object.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EndDeviceGroup" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceGroup">
    <xs:annotation>
      <xs:documentation>Abstraction for management of group communications within a two-way AMR system or the data for a group of related end devices. Commands can be issued to all of the end devices that belong to the group using a defined group address and the underlying AMR communication infrastructure.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mRID" type="msg:UUIDType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
          <xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
          <xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
        <xs:annotation>
          <xs:documentation>All names of this identified object.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EndDeviceInfo" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceInfo">
    <xs:annotation>
      <xs:documentation>End device data.</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="EndDeviceTiming" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceTiming">
    <xs:annotation>
      <xs:documentation>Timing for the control actions of end devices.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="duration" type="m:Minutes" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceTiming.duration">
        <xs:annotation>
          <xs:documentation>Duration of the end device control action or the business event that is the subject of the end device control.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="durationIndefinite" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceTiming.durationIndefinite">
        <xs:annotation>
          <xs:documentation>True if 'duration' is indefinite.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="randomisation" type="m:RandomisationKind" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceTiming.randomisation">
        <xs:annotation>
          <xs:documentation>Kind of randomisation to be applied to the end device control actions to be executed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="interval" type="m:DateTimeInterval" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceTiming.interval">
        <xs:annotation>
          <xs:documentation>Start and end time of an interval during which end device control actions are to be executed.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name">
    <xs:annotation>
      <xs:documentation>The Name class provides the means to define any number of human readable  names for an object. A name is &lt;b&gt;not&lt;/b&gt; to be used for defining inter-object relationships. For inter-object relationships instead use the object identification 'mRID'.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name.name">
        <xs:annotation>
          <xs:documentation>Any free text that name the object.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NameType" type="m:NameType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name.NameType">
        <xs:annotation>
          <xs:documentation>Type of this name.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType">
    <xs:annotation>
      <xs:documentation>Type of name. Possible values for attribute 'name' are implementation dependent but standard profiles may specify types. An enterprise may have multiple IT systems each having its own local name for the same object, e.g. a planning system may have different names from an EMS. An object may also have different names within the same IT system, e.g. localName and aliasName as defined in CIM version 14. Their definitions from CIM14 are</xs:documentation>
      <xs:documentation>The localName is a human readable name of the object. It is only used with objects organized in a naming hierarchy. localName: A free text name local to a node in a naming hierarchy similar to a file directory structure. A power system related naming hierarchy may be: Substation, VoltageLevel, Equipment etc. Children of the same parent in such a hierarchy have names that typically are unique among them.</xs:documentation>
      <xs:documentation>aliasName: A free text alternate name typically used in tabular reports where the column width is limited.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.description">
        <xs:annotation>
          <xs:documentation>Description of the name type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.name">
        <xs:annotation>
          <xs:documentation>Name of the name type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NameTypeAuthority" type="m:NameTypeAuthority" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.NameTypeAuthority">
        <xs:annotation>
          <xs:documentation>Authority responsible for managing names of this type.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameTypeAuthority" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority">
    <xs:annotation>
      <xs:documentation>Authority responsible for creation and management of names of a given type; typically an organization or an enterprise system.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority.description">
        <xs:annotation>
          <xs:documentation>Description of the name type authority.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority.name">
        <xs:annotation>
          <xs:documentation>Name of the name type authority.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PanDemandResponse" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDemandResponse">
    <xs:annotation>
      <xs:documentation>PAN control used to issue action/command to PAN devices during a demand response/load control event.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="avgLoadAdjustment" type="m:PerCent" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDemandResponse.avgLoadAdjustment">
        <xs:annotation>
          <xs:documentation>Used to define a maximum energy usage limit as a percentage of the client implementations specific average energy usage. The load adjustment percentage is added to 100% creating a percentage limit applied to the client implementations specific average energy usage. A -10% load adjustment percentage will establish an energy usage limit equal to 90% of the client implementations specific average energy usage. Each load adjustment percentage is referenced to the client implementations specific average energy usage. There are no cumulative effects.</xs:documentation>
          <xs:documentation>The range of this field is -100 to +100 with a resolution of 1 percent. A -100% value equals a total load shed. A +100% value will limit the energy usage to the client implementations specific average energy usage.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cancelControlMode" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDemandResponse.cancelControlMode">
        <xs:annotation>
          <xs:documentation>Encoding of cancel control.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cancelDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDemandResponse.cancelDateTime">
        <xs:annotation>
          <xs:documentation>Timestamp when a canceling of the event is scheduled to start.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cancelNow" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDemandResponse.cancelNow">
        <xs:annotation>
          <xs:documentation>If true, a canceling of the event should start immediately.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="command" type="xs:string" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceAction.command">
        <xs:annotation>
          <xs:documentation>Command text.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="coolingOffset" type="m:Temperature" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDemandResponse.coolingOffset">
        <xs:annotation>
          <xs:documentation>Requested offset to apply to the normal cooling setpoint at the time of the start of the event. It represents a temperature change that will be applied to the associated cooling set point. The temperature offsets will be calculated per the local temperature in the thermostat. The calculated temperature will be interpreted as the number of degrees to be added to the cooling set point. Sequential demand response events are not cumulative. The offset shall be applied to the normal setpoint.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="coolingSetpoint" type="m:Temperature" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDemandResponse.coolingSetpoint">
        <xs:annotation>
          <xs:documentation>Requested cooling set point. Temperature set point is typically defined and calculated based on local temperature.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="criticalityLevel" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDemandResponse.criticalityLevel">
        <xs:annotation>
          <xs:documentation>Level of criticality for the action of this control. The action taken by load control devices for an event can be solely based on this value, or combination with other load control event fields supported by the device.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="duration" type="m:Minutes" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceAction.duration">
        <xs:annotation>
          <xs:documentation>Amount of time the action of this control is to remain active.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="durationIndefinite" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceAction.durationIndefinite">
        <xs:annotation>
          <xs:documentation>True if the action of this control is indefinite.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dutyCycle" type="m:PerCent" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDemandResponse.dutyCycle">
        <xs:annotation>
          <xs:documentation>Maximum "On" state duty cycle as a percentage of time. Example, if the value is 80, the device would be in an "on" state for 80% of the time for the duration of the action.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="enrollmentGroup" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDemandResponse.enrollmentGroup">
        <xs:annotation>
          <xs:documentation>Provides a mechanism to direct load control actions to groups of PAN devices. It can be used in conjunction with the PAN device types.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="heatingOffset" type="m:Temperature" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDemandResponse.heatingOffset">
        <xs:annotation>
          <xs:documentation>Requested offset to apply to the normal heating setpoint at the time of the start of the event. It represents a temperature change that will be applied to the associated heating set point. The temperature offsets will be calculated per the local temperature in the thermostat. The calculated temperature will be interpreted as the number of degrees to be subtracted from the heating set point. Sequential demand response events are not cumulative. The offset shall be applied to the normal setpoint.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="heatingSetpoint" type="m:Temperature" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDemandResponse.heatingSetpoint">
        <xs:annotation>
          <xs:documentation>Requested heating set point. Temperature set point is typically defined and calculated based on local temperature.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="startDateTime" type="xs:dateTime" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceAction.startDateTime">
        <xs:annotation>
          <xs:documentation>Start date and time for action of this control.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="appliance" type="m:ControlledAppliance" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDemandResponse.appliance">
        <xs:annotation>
          <xs:documentation>Appliance being controlled.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PanDisplay" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDisplay">
    <xs:annotation>
      <xs:documentation>PAN action/command used to issue the displaying of text messages on PAN devices.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="command" type="xs:string" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceAction.command">
        <xs:annotation>
          <xs:documentation>Command text.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="confirmationRequired" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDisplay.confirmationRequired">
        <xs:annotation>
          <xs:documentation>If true, the requesting entity (e.g. retail electric provider) requires confirmation of the successful display of the text message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="duration" type="m:Minutes" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceAction.duration">
        <xs:annotation>
          <xs:documentation>Amount of time the action of this control is to remain active.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="durationIndefinite" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceAction.durationIndefinite">
        <xs:annotation>
          <xs:documentation>True if the action of this control is indefinite.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priority" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDisplay.priority">
        <xs:annotation>
          <xs:documentation>Priority associated with the text message to be displayed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="startDateTime" type="xs:dateTime" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceAction.startDateTime">
        <xs:annotation>
          <xs:documentation>Start date and time for action of this control.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="textMessage" type="xs:string" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDisplay.textMessage">
        <xs:annotation>
          <xs:documentation>Text to be displayed by a PAN device.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="transmissionMode" type="m:TransmissionModeKind" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanDisplay.transmissionMode">
        <xs:annotation>
          <xs:documentation>Transmission mode to be used for this PAN display control.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PanPricing" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanPricing">
    <xs:annotation>
      <xs:documentation>PAN action/command used to issue pricing information to a PAN device.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="command" type="xs:string" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceAction.command">
        <xs:annotation>
          <xs:documentation>Command text.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="duration" type="m:Minutes" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceAction.duration">
        <xs:annotation>
          <xs:documentation>Amount of time the action of this control is to remain active.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="durationIndefinite" type="xs:boolean" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceAction.durationIndefinite">
        <xs:annotation>
          <xs:documentation>True if the action of this control is indefinite.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="providerID" type="xs:integer" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanPricing.providerID">
        <xs:annotation>
          <xs:documentation>Unique identifier for the commodity provider.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="startDateTime" type="xs:dateTime" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceAction.startDateTime">
        <xs:annotation>
          <xs:documentation>Start date and time for action of this control.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PanPricingDetails" type="m:PanPricingDetail" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanPricing.PanPricingDetails">
        <xs:annotation>
          <xs:documentation>All pricing details issued by this PAN pricing command/action.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PanPricingDetail" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanPricingDetail">
    <xs:annotation>
      <xs:documentation>Detail for a single price command/action.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="alternateCostDelivered" type="xs:float" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanPricingDetail.alternateCostDelivered">
        <xs:annotation>
          <xs:documentation>Alternative measure of the cost of the energy consumed. An example might be the emissions of CO2 for each kWh of electricity consumed providing a measure of the environmental cost.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="alternateCostUnit" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanPricingDetail.alternateCostUnit">
        <xs:annotation>
          <xs:documentation>Cost unit for the alternate cost delivered field. One example is kg of CO2 per unit of measure.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currentTimeDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanPricingDetail.currentTimeDate">
        <xs:annotation>
          <xs:documentation>Current time as determined by a PAN device.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="generationPrice" type="m:Money" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanPricingDetail.generationPrice">
        <xs:annotation>
          <xs:documentation>Price of the commodity measured in base unit of currency per 'unitOfMeasure'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="generationPriceRatio" type="xs:float" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanPricingDetail.generationPriceRatio">
        <xs:annotation>
          <xs:documentation>Ratio of 'generationPrice' to the "normal" price chosen by the commodity provider.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="price" type="m:Money" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanPricingDetail.price">
        <xs:annotation>
          <xs:documentation>Price of the commodity measured in base unit of currency per 'unitOfMeasure'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priceRatio" type="xs:float" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanPricingDetail.priceRatio">
        <xs:annotation>
          <xs:documentation>Ratio of 'price' to the "normal" price chosen by the commodity provider.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priceTier" type="xs:integer" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanPricingDetail.priceTier">
        <xs:annotation>
          <xs:documentation>Pricing tier as chosen by the commodity provider.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priceTierCount" type="xs:integer" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanPricingDetail.priceTierCount">
        <xs:annotation>
          <xs:documentation>Maximum number of price tiers available.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priceTierLabel" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanPricingDetail.priceTierLabel">
        <xs:annotation>
          <xs:documentation>Label for price tier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rateLabel" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanPricingDetail.rateLabel">
        <xs:annotation>
          <xs:documentation>Label of the current billing rate specified by commodity provider.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="registerTier" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanPricingDetail.registerTier">
        <xs:annotation>
          <xs:documentation>Register tier accumulating usage information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unitOfMeasure" type="xs:string" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PanPricingDetail.unitOfMeasure">
        <xs:annotation>
          <xs:documentation>Defines commodity as well as its base unit of measure.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RandomisationKind" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#RandomisationKind">
    <xs:annotation>
      <xs:documentation>Kind of randomisation to be applied to control the timing of end device control commands and/or the definition of demand response and load control events. Value other than 'none' is typically used to mitigate potential deleterious effects of simultaneous operation of multiple devices.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="default">
        <xs:annotation>
          <xs:documentation>Randomisation of start and/or end times involving the operation of one or more devices is controlled by default settings for the device(s).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="end">
        <xs:annotation>
          <xs:documentation>End time of an event or control action affecting one or more devices is randomised to prevent simultaneous operation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>Neither the start time nor the end time of an event or control action affecting one or more devices is randomised.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="start">
        <xs:annotation>
          <xs:documentation>Start time of an event or control action affecting one or more multiple devices is randomized.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="startAndEnd">
        <xs:annotation>
          <xs:documentation>Both the start time and the end time of an event or control action affecting one or more devices are randomised to prevent simultaneous operation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ServiceLocation" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ServiceLocation">
    <xs:annotation>
      <xs:documentation>A real estate location, commonly referred to as premise.</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
  </xs:complexType>
  <xs:simpleType name="TransmissionModeKind" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#TransmissionModeKind">
    <xs:annotation>
      <xs:documentation>Transmission mode for end device display controls, applicable to premise area network (PAN) devices.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="anonymous">
        <xs:annotation>
          <xs:documentation>Message transmission mode whereby messages or commands are broadcast to unspecified devices listening for such communications.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="both">
        <xs:annotation>
          <xs:documentation>Message transmission mode whereby messages or commands are sent by both 'normal' and 'anonymous' methods.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="normal">
        <xs:annotation>
          <xs:documentation>Message transmission mode whereby messages or commands are sent to specific devices.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="UsagePoint" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#UsagePoint">
    <xs:annotation>
      <xs:documentation>Logical or physical point in the network to which readings or events may be attributed. Used at the place where a physical or virtual meter may be located; however, it is not required that a meter be present.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mRID" type="msg:UUIDType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
          <xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
          <xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
        <xs:annotation>
          <xs:documentation>All names of this identified object.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsagePointGroup" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#UsagePointGroup">
    <xs:annotation>
      <xs:documentation>Abstraction for management of group communications within a two-way AMR system or the data for a group of related usage points. Commands can be issued to all of the usage points that belong to a usage point group using a defined group address and the underlying AMR communication infrastructure.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mRID" type="msg:UUIDType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
          <xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
          <xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
        <xs:annotation>
          <xs:documentation>All names of this identified object.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Minutes" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Minutes">
    <xs:annotation>
      <xs:documentation>Time in minutes.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:float"/>
  </xs:simpleType>
  <xs:simpleType name="FloatQuantity" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#FloatQuantity">
    <xs:annotation>
      <xs:documentation>Quantity with float value and associated unit information.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:float"/>
  </xs:simpleType>
  <xs:simpleType name="PerCent" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PerCent">
    <xs:annotation>
      <xs:documentation>Normally 0 - 100 on a defined base.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:float"/>
  </xs:simpleType>
  <xs:simpleType name="Money" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Money">
    <xs:annotation>
      <xs:documentation>Amount of money.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="Temperature" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Temperature">
    <xs:annotation>
      <xs:documentation>Value of temperature in degrees Celsius.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:float"/>
  </xs:simpleType>
</xs:schema>
